/* Mobile Phones (Portrait, 576px and up) */
@media (min-width: 576px) {
  /* ------------------------------- Universal CSS ------------------------------- */
  :root {
    --bs-body-font-size: 1rem;
  }
  .container-fluid {
    padding: 0rem 1.5rem;
  }

  /* -------------------------------Header (Navigation) section ------------------------------- */
  .menuitems {
    padding: 1.5rem;
  }
  .shrink {
    padding: 1rem 1.5rem;
  }
  .logo {
    width: 10rem;
  }
  .shrink .shrink_logo {
    width: 10rem;
  }
  .navbar-nav .nav-link {
    font-size: calc(var(--bs-body-font-size) + 0.15rem);
  }

  /* ------------------------------- Home (Banner) CSS ------------------------------- */
  .home_banner::after {
    bottom: -5rem;
  }
  .banner_cont h1.hero_txt {
    font-size: max(2rem, calc(2vw + 2.5rem));
  }
  .banner_stars .star {
    width: 1.5rem;
  }
  .banner_stars .star.left {
    top: 15rem;
  }
  .banner_stars .star.top {
    top: 8rem;
  }
  .banner_stars .star.right {
    top: 25rem;
  }
  .banner_stars .star.middle {
    right: 10rem;
  }
  .banner_stars .star.bottom {
    right: 20rem;
    bottom: 15rem;
  }
  .banner_rocket {
    bottom: 2rem;
    right: 1.5rem;
  }
  .banner_rocket img {
    width: 8rem;
  }

  /*-------------------------------AboutUs Section -------------------------------*/

  #about,
  #ourgamz,
  #contact {
    padding-top: 7rem;
  }
  .about_us .section_title {
    font-size: max(2.5rem, calc(var(--bs-body-font-size) * 4));
  }
  .about_us .section_title::after {
    height: 0.5rem;
  }
  .we_do .game_dev,
  .we_do .mob_dev {
    gap: 2rem;
    flex-direction: row;
  }
  .game_dev .content,
  .mob_dev .content {
    padding-top: 1rem;
  }
  .game_dev .content .title,
  .mob_dev .content .title {
    padding-bottom: 0.5rem;
    color: var(--bs-dark);
  }
  .game_dev .content .detail,
  .mob_dev .content .detail {
    font-size: calc(var(--bs-body-font-size) - 0.15rem);
  }

  /*------------------------------- Our Games Section -------------------------------*/

  .nav-link {
    padding: 0.5rem 2.5rem 0.5rem 0rem;
    font-size: calc(var(--bs-body-font-size) + 0.75rem);
  }
  .divider_line {
    display: block;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(
      90deg,
      rgb(0, 106, 174) 0%,
      rgb(49, 233, 182) 55%,
      rgb(255, 255, 255) 80%
    );
  }
  .game .game_img img {
    width: 9rem;
  }
  .game_cont .txt {
    padding-bottom: 1rem;
  }
  .link_btn span {
    display: block;
  }
  .link_btn img {
    width: 3rem;
  }

  /*------------------------------- Contact Us Section -------------------------------*/

  .contact_us {
    padding-bottom: 7rem;
  }
  .contact_us .section_title {
    font-size: calc(var(--bs-body-font-size) + 2rem);
  }
  .contact_us .section_title::after {
    height: 0.375rem;
  }
  .btn-primary {
    width: 16rem;
    height: 4rem;
    border-radius: 0.5rem;
  }
  .copyright {
    font-size: calc(var(--bs-body-font-size) - 0rem);
    line-height: calc(var(--bs-body-line-height) - 0);
  }
}

/* Tablet Devices (Portrait, 768px and up) */
@media (min-width: 768px) {
  /* ------------------------------- Universal CSS ------------------------------- */
  :root {
    --bs-body-font-size: 1.15rem;
  }
  .container-fluid {
    padding: 0rem 3rem;
  }

  /* -------------------------------Header (Navigation) section ------------------------------- */
  .menuitems {
    padding: 1.5rem 3rem;
  }
  .shrink {
    padding: 1rem 3rem;
  }

  /* ------------------------------- Home (Banner) CSS ------------------------------- */
  .home_banner::after {
    bottom: -7rem;
  }
  .banner_stars .star.left {
    left: 3rem;
  }
  .banner_stars .star.right {
    right: 3rem;
  }
  .banner_stars .star.top {
    left: 18rem;
  }
  .banner_stars .star.middle {
    right: 12rem;
    bottom: 15rem;
  }
  .banner_stars .star.bottom {
    right: 25rem;
    bottom: 10rem;
  }
  .banner_cont h1.hero_txt {
    font-size: max(2rem, calc(3vw + 2.5rem));
  }
  .banner_rocket {
    bottom: 3rem;
    right: 3rem;
  }

  /*------------------------------- Our Games Section -------------------------------*/

  .game {
    flex-direction: row;
  }
  .game:nth-child(even) .game_img {
    order: 2;
  }
  .game:nth-child(even) .game_cont {
    order: 1;
  }
  .game_cont .txt {
    padding-bottom: 2rem;
  }

  /*------------------------------- Contact Us Section -------------------------------*/
  #contact {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .contact_us {
    padding-bottom: 0rem;
  }
  .contact_us .section_title::after {
    width: 15rem;
  }
  .copyright {
    bottom: 0rem;
    position: absolute;
  }
}

/* Big Tablet Devices (Portrait, 992px and up) */
@media (min-width: 992px) {
  /* ------------------------------- Universal CSS ------------------------------- */
  :root {
    --bs-body-font-size: 1.3rem;
  }
  .container-fluid {
    padding: 0rem 5rem;
  }

  /* -------------------------------Header (Navigation) section ------------------------------- */
  .menuitems {
    padding: 2rem 5rem;
  }
  .shrink {
    padding: 1rem 3rem;
  }
  .logo {
    width: 12rem;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
  }
  .navbar-nav .nav-link {
    font-size: calc(var(--bs-body-font-size) + 0.25rem);
    padding: 0.5rem 1rem;
  }
  .navbar-toggler {
    width: 4rem;
    height: 4rem;
    order: 3;
    padding: 1.25rem 1rem;
  }
  .navbar-toggler span.icon_bar {
    width: 2rem;
  }
  .navbar-toggler span.icon_bar:nth-child(1) {
    top: 1.875rem;
  }
  .navbar-toggler span.icon_bar:nth-child(2) {
    top: 1.875rem;
    right: -1rem;
  }
  .navbar-toggler span.icon_bar:nth-child(3) {
    top: 1.875rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(1) {
    top: 1.25rem;
    width: 2rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(2) {
    top: 1.875rem;
    width: 1.5rem;
    right: 1rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(3) {
    top: 2.5rem;
  }
  .navbar-collapse,
  .navbar-collapse.collapse.show {
    flex-basis: auto;
    width: calc(100% - 20rem);
    justify-content: flex-end;
    order: 2;
  }
  .navbar-collapse.collapse.show {
    display: flex;
  }

  /* ------------------------------- Home (Banner) CSS ------------------------------- */
  .home_banner::after {
    bottom: -9rem;
  }
  .banner_cont h1.hero_txt {
    font-size: max(2rem, calc(4vw + 2.5rem));
  }
  .banner_stars .star {
    width: 1.75rem;
  }
  .banner_stars .star.left {
    top: 20rem;
    left: 5rem;
  }
  .banner_stars .star.top {
    left: 25rem;
    top: 10rem;
  }
  .banner_stars .star.right {
    top: 35rem;
    right: 5rem;
  }
  .banner_stars .star.middle {
    right: 15rem;
  }
  .banner_stars .star.bottom {
    right: 30rem;
  }
  .banner_rocket {
    bottom: 5rem;
  }
  .banner_rocket img {
    width: 12rem;
  }

  /*-------------------------------AboutUs Section -------------------------------*/

  #about {
    margin-top: -7.5rem;
    padding-top: 0rem;
  }
  .about_us .section_title {
    font-size: calc(var(--bs-body-font-size) * 6);
    width: 25rem;
    padding-bottom: 2.5rem;
  }
  .about_us .section_title::after {
    width: 35rem;
  }
  .about_cont {
    padding: 5rem 0;
  }
  .about_cont .about_txt:nth-child(2) {
    padding: 2.5rem 0rem;
  }

  /*------------------------------- Our Games Section -------------------------------*/
  .nav-link {
    padding: 0.75rem 3.5rem 0.75rem 0rem;
    font-size: calc(var(--bs-body-font-size) + 1.2rem);
  }

  /*------------------------------- Contact Us Section -------------------------------*/
  .contact_us .section_title {
    font-size: calc(var(--bs-body-font-size) + 4rem);
  }
  .contact_us .section_title::after {
    width: 20rem;
    height: 0.5rem;
  }
  .contact_form {
    padding-top: 5rem;
  }
  .btn-primary {
    width: 24rem;
    height: 5rem;
  }
}

/* Mini Laptop Devices (Landscape, 1200px and up) */
@media (min-width: 1200px) {
  .container-fluid {
    padding: 0rem 6rem;
  }
  .navbar-nav {
    padding-right: 1rem;
  }
  .shrink {
    padding: 1rem 6rem;
  }
  .banner_cont h1.hero_txt {
    width: 75%;
  }
  .home_banner {
    height: 80vh;
  }
  .home_banner::before {
    bottom: -18rem;
  }
  #rocket {
    width: 8rem;
  }
  .banner_rocket {
    bottom: -10rem;
    right: 7rem;
  }

  .about_cont .about_txt {
    font-size: 1rem;
  }
  .about_us .section_title {
    font-size: 5rem;
    width: 20rem;
    padding-bottom: 2.5rem;
    padding-top: 15rem;
  }
  .about_us .section_title::after {
    width: 30rem;
  }
  .we_do .game_dev,
  .we_do .mob_dev {
    flex: 1;
    gap: 2rem;
    padding-right: 0rem;
    flex-direction: row;
  }
  .game_cont .txt {
    font-size: 0.9rem;
  }
  .game .game_img img {
    width: 6rem;
  }
  .btn-primary {
    width: 12rem;
    height: 4rem;
  }
  .footer {
    padding-top: 5rem;
  }
}
/* Laptop Devices (Landscape, 1400px and up) */
@media (min-width: 1400px) {
  .home_banner {
    height: 90vh;
  }
  #rocket {
    width: 10rem;
  }
  .banner_rocket {
    bottom: -5rem;
    right: 8rem;
  }
  .about_cont .about_txt {
    font-size: 1rem;
  }
  .about_us .section_title {
    font-size: 6rem;
    width: 20rem;
    padding-bottom: 2.5rem;
    padding-top: 10rem;
  }
  .about_us .section_title::after {
    width: 30rem;
  }
  .we_do .game_dev,
  .we_do .mob_dev {
    padding-right: 0rem;
  }
  .game_cont .txt {
    font-size: 0.9rem;
  }
  .footer {
    padding-top: 5rem;
  }
}
/* Small Desktop Devices (Landscape, 1600px and up) */
@media (min-width: 1600px) {
  #rocket {
    width: 10rem;
  }
  .about_us .section_title {
    font-size: 7rem;
    width: 20rem;
    padding-bottom: 2.5rem;
    padding-top: 5rem;
  }
  .about_us .section_title::after {
    width: 30rem;
  }
  .we_do .game_dev,
  .we_do .mob_dev {
    padding-right: 0rem;
  }
  .footer {
    padding-top: 5rem;
  }
}
/* Desktop Devices (Landscape, 1920px and up) */
@media (min-width: 1920px) {
  /* ------------------------------- Universal CSS ------------------------------- */
  .container-fluid {
    padding: 0rem 10rem;
  }

  /* -------------------------------Header (Navigation) section ------------------------------- */
  .menuitems {
    padding: 3rem 10rem;
  }
  .shrink {
    padding: 1rem 6rem;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
  }
  .navbar-nav .nav-link {
    font-size: calc(var(--bs-body-font-size) + 0.15rem);
    padding: 0.5rem 2rem;
  }
  .navbar-toggler {
    width: 4rem;
    height: 4rem;
    order: 3;
    padding: 1.25rem 1rem;
  }
  .navbar-toggler span.icon_bar {
    width: 2rem;
  }
  .navbar-toggler span.icon_bar:nth-child(1) {
    top: 1.875rem;
  }
  .navbar-toggler span.icon_bar:nth-child(2) {
    top: 1.875rem;
    right: -1rem;
  }
  .navbar-toggler span.icon_bar:nth-child(3) {
    top: 1.875rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(1) {
    top: 1.25rem;
    width: 2rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(2) {
    top: 1.875rem;
    width: 1.5rem;
    right: 1rem;
  }
  .navbar-toggler.collapsed span.icon_bar:nth-child(3) {
    top: 2.5rem;
  }
  .navbar-collapse,
  .navbar-collapse.collapse.show {
    flex-basis: auto;
    width: calc(100% - 24rem);
    justify-content: flex-end;
    order: 2;
  }
  .navbar-collapse.collapse.show {
    display: flex;
  }

  /* ------------------------------- Home (Banner) CSS ------------------------------- */
  .home_banner::before {
    bottom: -22rem;
  }
  .home_banner::after {
    bottom: -30rem;
  }
  .banner_cont h1.hero_txt {
    width: 75%;
    font-size: max(1.5rem, calc(3vw + 1.5rem));
  }
  .banner_stars .star {
    width: 1.75rem;
  }
  .banner_stars .star.left {
    left: 6rem;
    top: 20rem;
  }
  .banner_stars .star.top {
    left: 55rem;
    top: 12rem;
  }
  .banner_stars .star.right {
    right: 15rem;
    top: 25rem;
  }
  .banner_stars .star.middle {
    right: 30rem;
    bottom: 10rem;
  }
  .banner_stars .star.bottom {
    right: 50rem;
    bottom: 5rem;
  }
  .banner_rocket {
    bottom: 0rem;
    right: 10rem;
  }
  #rocket {
    width: 15rem;
  }

  /*-------------------------------AboutUs Section -------------------------------*/

  #about {
    margin-top: -12.5rem;
    padding-top: 0rem;
  }
  .about_us .section_title {
    font-size: 8rem;
    width: 30rem;
    padding-bottom: 2.5rem;
  }
  .about_us .section_title::after {
    width: 40rem;
    height: 0.5rem;
  }
  .about_cont {
    padding: 5rem 0;
  }
  .about_cont .about_txt {
    font-size: calc(var(--bs-body-font-size) + 0.15rem);
  }
  .about_us .we_do {
    flex-direction: row;
  }
  .we_do .game_dev,
  .we_do .mob_dev {
    flex: 1;
    gap: 2rem;
    padding-right: 8rem;
    flex-direction: row;
  }
  .game_dev .content,
  .mob_dev .content {
    padding-top: 2rem;
  }
  .game_dev .content .title,
  .mob_dev .content .title {
    padding-bottom: 1rem;
  }

  /*------------------------------- Our Games Section -------------------------------*/
  #ourgamz {
    padding-top: 7rem;
  }
  .nav-link {
    padding: 1rem 4rem 1rem 0rem;
    font-size: max(1.5rem, calc(1vw + 1rem));
  }
  .divider_line {
    width: 75%;
  }
  .game {
    gap: 3rem;
    width: 75%;
    padding-top: 5rem;
    flex-direction: row;
  }
  .game:nth-child(even) {
    margin-left: auto;
  }
  .game:nth-child(even) .game_img {
    order: 2;
  }
  .game:nth-child(even) .game_cont {
    order: 1;
  }
  .game .game_img img {
    width: 9rem;
  }
  .game_cont .txt {
    font-size: calc(var(--bs-body-font-size) + 0.15rem);
  }
  .game_cont .links {
    flex-direction: row;
  }
  .links .app_links {
    width: auto;
  }
  .links .link_btn {
    font-size: calc(var(--bs-body-font-size) - 0rem);
  }

  /*------------------------------- Contact Us Section -------------------------------*/
  #contact {
    padding-top: 7rem;
    position: relative;
    height: 100vh;
  }
  .contact_us .section_title {
    padding-bottom: 2rem;
    font-size: calc(var(--bs-body-font-size) + 2rem);
  }
  .contact_us .section_title::after {
    width: 12rem;
    height: 0.5rem;
  }
  .contact_form {
    padding-top: 5rem;
  }
  .btn-primary {
    width: 18rem;
    height: 4.5rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
  }
  .copyright {
    font-weight: 500;
    padding: 1rem 0rem;
    position: absolute;
    bottom: 0rem;
    background-color: var(--bs-primary);
    font-size: calc(var(--bs-body-font-size) - 0rem);
    line-height: calc(var(--bs-body-line-height) - 0);
  }
}
/* Desktop Devices (Landscape, 1920px and up) */
@media (min-width: 1920px) and (max-width: 2159px) {
  .banner_cont h1.hero_txt {
    margin-bottom: 10rem;
  }
  .banner_rocket {
    bottom: 2rem;
  }
  .game_dev .content .detail,
  .mob_dev .content .detail {
    font-size: 1rem;
  }
}
/* Large Desktop Devices (Landscape, 2160px and up) */
@media (min-width: 2160px) {
  .banner_cont h1.hero_txt {
    margin-bottom: 10rem;
  }
  .about_us .section_title {
    margin-top: -20rem;
  }
  .about_cont {
    padding-top: 10rem;
  }
  .game_dev .content .detail,
  .mob_dev .content .detail {
    font-size: 1rem;
  }
}
@media (min-width: 2400px) {
  .home_banner {
    height: 118vh;
  }
  .banner_rocket {
    bottom: 15rem;
    right: 14rem;
  }
  .banner_cont h1.hero_txt {
    width: 70%;
  }
  .about_us .section_title {
    margin-top: -25rem;
  }
  #contact {
    height: 80vh;
  }
}
@media (min-width: 3000px) {
  .container-fluid {
    padding: 0rem 20rem;
  }
  .menuitems {
    padding: 3rem 20rem;
  }
  .shrink {
    padding: 1rem 20rem;
  }
  .banner_rocket {
    bottom: 18rem;
    right: 16rem;
  }
  #rocket {
    width: 20rem;
  }
  .about_us .section_title {
    margin-top: -35rem;
  }
  .about_us .section_title {
    font-size: 10rem;
  }
  #contact {
    height: 60vh;
  }
}
@media (min-width: 3500px) {
  .home_banner {
    height: 125vh;
  }
  .banner_rocket {
    bottom: 28rem;
    right: 18rem;
  }
  #rocket {
    width: 25rem;
  }
  .about_us .section_title {
    font-size: 12rem;
  }
  .about_us .section_title {
    margin-top: -45rem;
  }
}
@media (min-width: 3700px) {
  .banner_rocket {
    bottom: 30rem;
    right: 20rem;
  }
}
@media (min-width: 4000px) {
  .banner_rocket {
    bottom: 32rem;
    right: 24rem;
  }
}
