/* ------------------------------- Universal CSS ------------------------------- */
:root {
  --bs-blue: #11476d;
  --bs-dark: #0c0f35;
  --bs-grey: #7e7e7f;
  --bs-white: #ffffff;
  --bs-grey-dark: #444443;
  --bs-primary: #1abc9c;
  --bs-secondary: #33c9b8;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #212529;
  --bs-light-grey: #d1d1d1;
  --bs-white-50: rgba(255, 255, 255, 0.5);
  --bs-font-sans-serif: "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-primary-gradient-180: linear-gradient(
    180deg,
    rgba(0, 106, 174, 1),
    rgba(49, 233, 182, 1)
  );
  --bs-primary-gradient-90: linear-gradient(
    90deg,
    rgba(0, 106, 174, 1),
    rgba(49, 233, 182, 1)
  );
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
  background: rgba(49, 233, 182, 0.25);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0rem 0rem 0.25rem 0rem rgba(0, 106, 174, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--bs-primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-blue);
}
:focus,
button:focus {
  outline: none;
}
body {
  color: var(--bs-grey);
  font-family: var(--bs-font-sans-serif);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
}
h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin-bottom: 0rem;
}
.container-fluid {
  padding: 0rem 1rem;
}

/* -------------------------------Header (Navigation) section ------------------------------- */

.menuitems {
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.shrink {
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0rem 0.5rem 2rem -1rem rgba(0, 106, 174, 0.5);
  z-index: 1030;
}
.logo {
  width: 9rem;
  opacity: 1;
  visibility: visible;
}
.shrink .logo {
  width: 0rem;
  opacity: 0;
  visibility: hidden;
}
.shrink_logo {
  width: 0rem;
  opacity: 0;
  visibility: hidden;
}
.shrink .shrink_logo {
  width: 7rem;
  opacity: 1;
  visibility: visible;
}
.navbar-nav .nav-link {
  color: var(--bs-white);
  font-size: var(--bs-body-font-size);
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-nav .nav-link:hover,
.shrink .navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.shrink .navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.shrink .navbar-nav .nav-link:focus {
  color: var(--bs-primary);
}
.shrink .navbar-nav .nav-link {
  font-weight: 600;
  color: var(--bs-grey-dark);
}
.navbar-toggler {
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  align-items: flex-end;
  padding: 0.75rem;
  border-radius: 50%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--bs-white);
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shrink .navbar-toggler {
  background-color: transparent;
}
.navbar-toggler:focus-within,
.navbar-toggler:hover,
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  transform: scale(0.95);
}
.navbar-toggler span.icon_bar {
  display: block;
  position: absolute;
  opacity: 1;
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: var(--bs-primary-gradient-90);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-toggler span.icon_bar:nth-child(1) {
  top: 1.375rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navbar-toggler span.icon_bar:nth-child(2) {
  opacity: 0;
  top: 1.375rem;
  right: -0.75rem;
}
.navbar-toggler span.icon_bar:nth-child(3) {
  top: 1.375rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.navbar-toggler.collapsed span.icon_bar:nth-child(1),
.navbar-toggler.collapsed span.icon_bar:nth-child(3) {
  transform: rotate(0);
}
.navbar-toggler.collapsed span.icon_bar:nth-child(1) {
  top: 0.75rem;
  width: 1.5rem;
}
.navbar-toggler.collapsed span.icon_bar:nth-child(2) {
  opacity: 1;
  top: 1.375rem;
  width: 1.25rem;
  right: 0.75rem;
}
.navbar-toggler.collapsed span.icon_bar:nth-child(3) {
  top: 2rem;
  width: 1rem;
}

/* ------------------------------- Home (Banner) CSS ------------------------------- */
.home_banner {
  height: 100vh;
  position: relative;
  background: var(--bs-primary-gradient-180);
}
.home_banner::before,
.home_banner::after {
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.home_banner::before {
  bottom: -0.5rem;
  content: url(../images/banner_cloud.svg);
}
.home_banner::after {
  bottom: -3rem;
  content: url(../images/rocket_bg.svg);
}
.banner_cont {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.banner_cont h1.hero_txt {
  position: relative;
  font-size: max(2rem, calc(2vw + 1.5rem));
  line-height: 1.5;
  font-weight: 600;
  color: var(--bs-white);
  margin-bottom: 0rem;
}
.banner_stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner_stars .star {
  position: absolute;
  width: 1.25rem;
  height: auto;
}
.banner_stars .star > path {
  fill: var(--bs-white);
}
.banner_stars .star.left {
  left: 2rem;
  top: 10rem;
}
.banner_stars .star.top {
  left: 10rem;
  top: 5rem;
}
.banner_stars .star.right {
  right: 2rem;
  top: 15rem;
}
.banner_stars .star.middle {
  right: 5rem;
  bottom: 10rem;
}
.banner_stars .star.bottom {
  right: 10rem;
  bottom: 5rem;
}
.banner_rocket {
  position: absolute;
  bottom: 0rem;
  right: 0.5rem;
  z-index: 1;
}
.banner_rocket img {
  width: 5rem;
}

/*-------------------------------AboutUs Section -------------------------------*/

#about,
#ourgamz,
#contact {
  position: relative;
  padding-top: 5rem;
}
.about_us .section_title {
  font-size: max(2.5rem, calc(var(--bs-body-font-size) * 2));
  font-weight: 600;
  width: 100%;
  margin: 0rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
  position: relative;
  color: var(--bs-primary);
}
.about_us .section_title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.325rem;
  left: 0rem;
  bottom: 0rem;
  background-color: var(--bs-secondary);
}
.about_cont {
  padding: 2.5rem 0;
}
.about_cont .about_txt {
  color: var(--bs-grey-dark);
}
.about_cont .about_txt:nth-child(2) {
  padding: 1rem 0rem;
}
.about_txt > .color_txt {
  color: var(--bs-primary);
}
.about_us .we_do {
  gap: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.icon_container img {
  width: 7rem;
  max-width: inherit;
}
.we_do .game_dev,
.we_do .mob_dev {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.game_dev .content,
.mob_dev .content {
  padding-top: 1rem;
}
.game_dev .content .title,
.mob_dev .content .title {
  font-weight: 600;
  padding-bottom: 0.5rem;
  color: var(--bs-dark);
}

/*------------------------------- Our Games Section -------------------------------*/
.nav-link {
  font-weight: 600;
  padding: 0.5rem;
  color: var(--bs-grey-dark);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: calc(var(--bs-body-font-size) + 0.25rem);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-blue);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 600;
  color: var(--bs-primary);
  background-color: transparent;
}
.divider_line {
  display: block;
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(
    90deg,
    rgb(0, 106, 174) 0%,
    rgb(49, 233, 182) 55%,
    rgb(255, 255, 255) 80%
  );
}
.game {
  display: flex;
  padding-top: 3rem;
  gap: 2rem;
  width: 100%;
  flex-direction: column;
}
.game:nth-child(even) .game_img {
  order: 1;
}
.game:nth-child(even) .game_cont {
  order: 2;
}
.game .game_img img {
  width: 6rem;
}
.game .game_cont {
  flex: 1;
}
.game_cont .title {
  font-weight: 600;
  padding-bottom: 1rem;
  color: var(--bs-dark);
}
.game_cont .txt {
  padding-bottom: 2rem;
}
.game_cont .links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.links .link_btn {
  color: var(--bs-grey-dark);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: calc(var(--bs-body-font-size) - 0.1rem);
}
.link_btn:hover,
.link_btn:focus,
.link_btn:active {
  color: var(--bs-blue);
}
.link_btn span {
  display: none;
}
.link_btn img {
  width: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.link_btn:hover img,
.link_btn:focus img,
.link_btn:active img {
  transform: scale(0.9);
}

/*------------------------------- Contact Us Section -------------------------------*/
.contact_us {
  padding-bottom: 5rem;
}
.contact_us .section_title {
  position: relative;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--bs-primary);
  font-size: calc(var(--bs-body-font-size) + 1rem);
}
.contact_us .section_title::after {
  position: absolute;
  content: "";
  width: 10rem;
  height: 0.25rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: 0 auto;
  background-color: var(--bs-secondary);
}
.contact_form {
  padding-top: 2rem;
  margin-bottom: 0rem;
}
.form-control {
  border-width: 0rem;
  border-bottom-width: 0.125rem;
  border-color: var(--bs-light-grey);
  border-radius: 0rem;
}
.form-control:focus {
  color: var(--bs-grey-dark);
  border-color: var(--bs-primary);
  box-shadow: none;
}
.form-floating > .form-control {
  padding-left: 0rem;
}
.form-floating > textarea.form-control {
  height: 10rem;
  resize: none;
}
.form-floating > label {
  padding-left: 0rem;
  border: 0rem;
  opacity: 0.5;
  color: var(--bs-secondary);
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  border-color: var(--bs-primary);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-1.25rem) translateX(0rem);
}
.btn-primary {
  border: none;
  width: 13rem;
  height: 3.5rem;
  margin-top: 3.5rem;
  font-weight: 500;
  border-radius: 0.25rem;
  color: var(--bs-white);
  text-transform: uppercase;
  background-color: var(--bs-secondary);
  font-size: calc(var(--bs-body-font-size) + 0.375rem);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--bs-primary);
  transform: translateY(-0.5rem) scale(0.98);
  box-shadow: 0rem 1rem 2.5rem 0rem rgb(49 233 182 / 50%);
}
.copyright {
  width: 100%;
  color: var(--bs-white);
  padding: 0.5rem 0rem;
  text-align: center;
  background-color: var(--bs-primary);
  font-size: calc(var(--bs-body-font-size) - 0.2rem);
  line-height: calc(var(--bs-body-line-height) - 0.5);
}
